# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Some of the popular languages that Data Scientists
- Some of the commonly used libraries used by Data Scientists
- Some of the commonly used libraries used by Data Scientists
- few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Seaborn
4. Matplotlib
5. ggplot2

| Data Science Tools |
|--------------------|
| JupyterLab |
| MySQL |
| RStudio |
|Google Colab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
## This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
## his will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Mohamed Elnamla